
.panel-pane.pane-block.pane-views-location-dienstleistungen-block {
    background: url("../images/background/bg17.jpg") 0% 60% fixed no-repeat;
    padding-top: 100px;
    padding-bottom: 150px;
}

.panel-pane.pane-block.pane-views-location-dienstleistungen-block h2 {

	margin-bottom: 100px;
    text-align: center;
	font-size: 35px;
	color:white;
}

.views-field.views-field-field-dienstleitung-icon {
    width: 32px;
    float: left;
    margin-right: 20px;
	margin-left: 15px;
}



.ldTitel {
    float: left;
    margin-right: 20px;
	margin-left: 15px;
	color: white;
    font-weight: bold;
}

.ldEntfernung {
    float: left;
    margin-right: 20px;
	width: 75px;
	margin-left: 15px;
	color: white;
    font-weight: bold;
}

.views-field.views-field-field-webseite-url {
    float: left;
	margin-right: 20px;
	margin-left: 15px;
	font-weight: bold;
}


.panel-pane.pane-block.pane-views-location-umgebung-block {
    padding-top: 50px;
}

.panel-pane.pane-block.pane-views-4927e87c51eb98f455901587d1f85de0 {
    background-color: rgba(241, 243, 245, 0.94);
    padding-top: 1px;
}


.panel-pane.pane-block.pane-views-location-umgebung-block h2{
	text-align: center;
	margin-bottom: 60px;
	font-size: 28px;
	color:white;
	font-weight: 700;
    text-transform: uppercase;
}



.map-responsive {
    position: relative;
    margin-right: -20px;
    min-height: 600px;
}
 
.map-responsive iframe,
.map-responsive object,
.map-responsive embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;

}

.map-responsive ::-webkit-scrollbar { 
    display: none; 
}



.view.view-location-umgebung.view-id-location_umgebung.view-display-id-block {
    margin-right: 20px;
	margin-left: 20px;
	padding-bottom: 130px;
}

.panel-pane.pane-block.pane-views-location-umgebung-block {
      background-color: rgb(56, 85, 150);
}

.panel-pane.pane-block.pane-views-location-map-block {
    background: rgba(240, 237, 229, 0.82);
}

.view.view-location-wie-finden-sie-uns.view-id-location_wie_finden_sie_uns.view-display-id-block {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 100px;
    padding-top: 30px;
	padding-left: 5px;
    padding-right: 20px;
}

.panel-pane.pane-block.pane-views-4927e87c51eb98f455901587d1f85de0 h2 {
    text-align: center;
    margin-bottom: 35px;
    font-size: 28px;
    color: #004C73;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 64px;
}

.vmTitel {
    font-size: 17px;
    color: #004C73;
    font-weight: 700;
    text-transform: uppercase;
	margin-top: 25px;
}

.vmBody {
    text-align: justify;
    margin-top: 20px;
}



.view.view-location-header.view-id-location_header.view-display-id-block h2 {
     padding-top: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 100px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2.5px dotted black;
    color: #FFFFFF;
    background: url("../images/background/locationHeader.jpg") 0% 35% no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
	background-attachment: scroll;
}


