
@media (max-width: 2000px){
	.col-lg-4 {
		width: 33.33333333%;
		float:left;
	    
	}
	
	div#views-bootstrap-grid-1 {
		margin-left: 20px;
	}
	.cal-viewport {
    width: 1285px !important;
    margin: 0 auto;
}

}

@media (max-width: 1200px){
.view.view-home-portfolio.view-id-home_portfolio.view-display-id-block .col.col-lg-3 {
    max-width: 207px;
    float: left;
}

.view.view-home-portfolio.view-id-home_portfolio.view-display-id-block {
    max-width: 813px;
    margin: 0 auto;
}

.portfolioBody {
    padding-left: 20px;
    padding-right: 20px;
	text-align: center;
}
.portfolioAnchor {
    margin-bottom: 35px;
}

}




@media (max-width: 1333px){

	.cal-viewport {
    width: 961px !important;
    margin: 0 auto;
}


}



@media (max-width: 1123px){

.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-attachment_1 h3{
	margin-top:70px;
}
.attachment.attachment-after {
    margin: 0 auto;
    max-width: 600px;
	margin-top:80px;
}
.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-block div#views-bootstrap-grid-3 {
    float: none;
    margin: 0 auto;
}

.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-block h3 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    
}

}

@media screen and (max-width: 1013px){
.gastgeberImage {
    width: 200px;
    float: none;
    margin: 0 auto;
}

.gastgeberBody {

    float: none;
    padding-left: 20px;
    padding-right: 20px;
	margin:0 auto;
}

.gastgeberTitel {
     padding-left: 0px;
}

}


@media screen and (max-width: 1006px){
#footer {
     height: 420px;
}

div#rightFooter {
    margin-left: 20px;
}

}



@media screen and (max-width: 1000px){
	.view.view-home-portfolio.view-id-home_portfolio.view-display-id-block .col.col-lg-3 {
    max-width: 207px;
    float: left;
	}


.view.view-home-portfolio.view-id-home_portfolio.view-display-id-block {
    max-width: 813px;
    margin: 0 auto;
}



.view.view-besucher.view-id-besucher.view-display-id-block {
    margin: 0 auto;
    max-width: 672px;
}

	.cal-viewport {
    width: 640px !important;
    margin: 0 auto;

}

}

@media (max-width: 831px){
.view.view-home-portfolio.view-id-home_portfolio.view-display-id-block {
    max-width: 399px;
    margin: 0 auto;
}
}

@media (max-width: 770px){
	
.homeGalleryViewBody {
    float: left;
    margin-top: 40px;
	margin-left: 0px;
    margin-bottom: 20px;
}

	.homeGalleryViewImage {
    width: 250px;
	float:none;
    margin-right: 100px;
    margin: 0 auto;
	margin-bottom: 40px;
}


#bookingrequest {
    font-size: 26px !important;
}
}

.table-responsive {
    overflow-x: hidden!important;
    border: 0px solid black!important;
}

select#edit-submitted-ankunftsdatum-month,
select#edit-submitted-abreisedatum-month{
    width: 90px !important;
}

select#edit-submitted-abreisedatum-day,
select#edit-submitted-ankunftsdatum-day{
    width: 76px!important;
}



select#edit-submitted-ankunftsdatum-year,
select#edit-submitted-abreisedatum-year {
    width: 81px!important;
	    margin-right: 10px!important;
}

td.views-field.views-field-webform-form-body {
    max-width: 300px  !important;
}

button.webform-submit.button-primary.btn.btn-primary.form-submit {
    width: 270px !important;
}
.table-responsive {
    width: 300px  !important;
}
.panel-2col-bricks .panel-col-last {
    float: none;
    width: 50%;
}
.panel-col-last.panel-panel {
    float: none !important;

}
@media (max-width: 675px){

#footer {
    height: 620px;
	}

div#middleFooter {
margin-left:20px;
}

}


@media (max-width: 670px){
	

	
table.table.table-hover.table-striped {
    width: 280px;
}

	.cal-viewport {
    width: 290px !important;
    margin: 0 auto;
}

.view.view-preisliste.view-id-preisliste.view-display-id-block.preis .row {
    width: 478px !important;
}

}

@media (max-width: 715px){
	div#panels-ipe-paneid-3, 
	div#panels-ipe-paneid-2,
	div#panels-ipe-paneid-5,
.view.view-portfolio-ferienhaus.view-id-portfolio_ferienhaus.view-display-id-block,
.view.view-portfolio-.view-id-portfolio_.view-display-id-block,
.view.view-portfolio-location.view-id-portfolio_location.view-display-id-block,
.view.view-portfolio-gastgeber.view-id-portfolio_gastgeber.view-display-id-block
 	{
 
    width: 250px;
	float:none;
    margin-right: 100px;
    margin: 0 auto;

}




}
@media (max-width: 587px){
.views-field.views-field-field-ausstattung-icon {
	float: left; 

}

.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-block {
    max-width: 410px;
    margin: 0 auto;
}


.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-block div#views-bootstrap-grid-3 .col.col-lg-6 {
    width: 190px;
	margin: 0 auto;
}

.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-block div#views-bootstrap-grid-2 .col.col-lg-6 {
    width: 190px;
	margin: 0 auto;
}

}
@media (max-width: 500px){



	

	.aktivitaetenBody,
	.newsBody,
	.views-field.views-field-field-aktivit-ten-seite {
		float:left;
	}
	
	.aktivitaetenBody, .newsBody {
        padding-left: 0px !important;
		margin-left: 0px!important;

}
	
	
	.aktivitaetenTitel{
		margin-top: 30px;
		margin-bottom: -20px;
	}

	.aktivitätenLink,
	.newsLink	{
		margin-bottom: 50px;
		float: left;
		padding-left: 0px !important;
	}
	
	.newsTitel {
	margin-bottom: 10px;
    text-align: center;
}

.newsBody {
    padding-top: 0px !important;

}

.views-field.views-field-title.newsTitel {
    margin-top: 30px;
	margin-bottom: 0px !important;
    float: left;
}

.views-field.views-field-field-news-image{
  float: none !important; 
}

	
	.views-field.views-field-field-aktivitaetenimage {
     width: 250px;
     float: none !important; 
}


}

@media (max-width: 450px){

.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-block div#views-bootstrap-grid-3 .col.col-lg-6 {
    width: 128px;
}

.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-block div#views-bootstrap-grid-2 .col.col-lg-6 {
    width: 128px;
}

.view.view-Home-Ausstattung.view-id-Home_Ausstattung.view-display-id-block {
    max-width: 285px;
    margin: 0 auto;
}

.view.view-preisliste.view-id-preisliste.view-display-id-block.preis .row {
    width: 317px !important;
}

.view.view-preisliste.view-id-preisliste.view-display-id-block.preis .col.col-lg-3 {
    margin-bottom: 10px;
}
}

@media (max-width: 417px){

.view.view-home-portfolio.view-id-home_portfolio.view-display-id-block {
    max-width: 177px;
    margin: 0 auto;
}
}



@media (max-width: 380px){


	.view.view-besucher.view-id-besucher.view-display-id-block img {
    width: 270px;
	}
	div#leftFooter,
	div#middleFooter,
	div#rightFooter {
		width:250px;
	}

.view.view-Buchungsanfrage.view-id-Buchungsanfrage.view-display-id-block {
    margin-left: 10px !important;
}

.BegruessungstextBody {
    margin-right: 15px;
    margin-left: 15px;
}

.homeGalleryViewBody {
    margin-right: 15px;
}
.mapBody {
    margin-right: 15px;
    margin-left: 15px;
}



}

@media (max-width: 320px){
a.logo.navbar-btn.pull-left img {
    width: 174px;
}
}

